.postList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__addModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 24;
    color: black;
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  &__sort {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
    width: 100%;
  }
}

.Cards  {
  padding-right: 16px;
}

.carousel__container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.carousel__header {
  font-style: normal;
  font-size: 22px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.32px;
  margin-bottom: 24px;

  @media (min-width: 640px) {
    font-size: 32px;
    margin-bottom: 40px;
  }
}